@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

// Colors
$navigationBarBlue: #047aed;
$inputBorderColor: #b4becb;
$secondaryColor: #1c3fa8;
$darkBlue: #002240;
$lightColor: #f4f4f4;
$successColor: #5cb85c;
$errorColor: #d9534f;

// Fonts
$LatoFont: "Lato", sans-serif;